<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
    Username: John Doe<br />
    Password: J0hnw0rd<br />
    Role: ADMIN
  </div>
  <div class="alert alert-info">
    Username: Jane Doe<br />
    Password: J@n3w0rd<br />
    Role: USER
  </div>
  <div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" [(ngModel)]="username" [formControl]="usernameControl"/>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" [formControl]="passwordControl"/>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
